
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #dddee0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.visible {
  transform: translateX(0);
} 

 .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: left;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
   background: none;
  border: none;
  font-size: 1.5rem;
  
 
}

