/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #dddee0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Ensure sidebar is above the content */
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: left;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
}

/* Main Content */
.main-content {
  padding: 20px;
  margin-left: 0; /* Remove the margin shift */
}

/* Ensure the home page takes up the full width */
.home-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; /* Ensure home page content is below the sidebar */
}
